body {
    width: 98%;
}

.pic {
    height: 150px;
    width: 100%;
}

.img {
    height: 120px;
    margin: 20px;
}

.main {
    background-color: rgb(122, 41, 41);
    height: 1300px;
    width: 100%;
    display: flex;
    margin-left: 18px;
}

.mainleft {
    height: 1200px;
    width: 50%;
}
.submiss h1{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 1000;
    color: white;
    margin-left: 70px;
    margin-top: 300px;
}
.para1 p{
    margin-left: 70px;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 0;
}
.button1 button{
    
    margin-left: 550px;
padding: 6px;
}
.appli h2{
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}
.button2 button{
    margin-left: 500px;
padding: 6px;
}

.right {
    border: 3px solid white;
    height: 1300px;
    width: 50%;
}
.inside {
    height: 1150px;
    width: 80%;
    margin: 80px;
}
.first3 ::placeholder{
    color: white;
}
.name {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.email {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.org {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.inside h2 {
    font-family: sans-serif;
    font-weight: 900;
}

.inside p {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    margin-top: -18px;
}

.checkbox {
    height: 30px;
    width: 80%;
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.checkbox label{
    color: white;
}
.boxleft {
    height: 30px;
    width: 50%;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    align-content: center; 
}

.boxleft textarea {
    align-items: center;
    margin-bottom: 35px;
    accent-color: transparent;
}

.boxright {
    height: 30px;
    width: 50%;
    align-content: center;
}

.boxright button {
    padding: 1px;
    margin-left: 60px;
}
.boxright button i{
  color: #746969;  
}
.text {
    border: 3px solid white;
    width: 80%;
    height: 100px;
    margin-top: 15px;
}

.text textarea {
    width: 99%;
    height: 97px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.text textarea::placeholder{
    color: white;
    padding: 6px;
    font-family: sans-serif;
}

.chleft {
    height: 30px;
    width: 50%;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    align-content: center;
}
.chleft input{
    margin-bottom: 20px;
}

.ch3left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}

.ch4left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}

.ch5left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}

.submitt button{
    margin-top: 44px;
    font-size: 25px;
    width: 69%;
    color: rgb(26, 23, 23);
    padding: 15px;
}
.triangle {
      width: 0%;
    height: 90;
    border-left: 120px solid transparent;
    border-right: 14px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
    margin-right: -35px;
}