body {
    width: 98%;
}

.pic {
    height: 150px;
    width: 100%;
}

.img {
    height: 120px;
    margin: 20px;
}

.main {
    background-color: rgb(122, 41, 41);
    height: 1300px;
    width: 100%;
    display: flex;
    margin-left: 18px;
}

.mainleft {
    height: 1200px;
    width: 50%;
}
.submiss h1{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 1000;
    color: white;
    margin-left: 70px;
    margin-top: 300px;
}
.para1 p{
    margin-left: 70px;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 0;
}
.button1 button{
    
    margin-left: 550px;
padding: 6px;
}
.appli h2{
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}
.button2 button{
    margin-left: 500px;
padding: 6px;
}

.right {
    border: 3px solid white;
    height: 1300px;
    width: 50%;
}
.inside {
    height: 1150px;
    width: 80%;
    margin: 80px;
}
.first3 ::placeholder{
    color: white;
}
.name {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.email {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.org {
    border: 3px solid white;
    background: transparent;
    width: 80%;
    height: 43px;
    outline: white;
    gap: 3px;
    margin-top: 12px;
}

.inside h2 {
    font-family: sans-serif;
    font-weight: 900;
}

.inside p {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    margin-top: -18px;
}

.checkbox {
    height: 30px;
    width: 80%;
    display: flex;
}

.boxleft {
    height: 30px;
    width: 50%;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    align-content: center;
    

}
.boxleft input {
    align-items: center;
    accent-color: transparent;
}

.boxright {
    height: 30px;
    width: 50%;
    align-content: center;
}

.boxright button {
    height: 15px;
    width: 15px;
    justify-content: center;
    margin-left: 50px;

}

.text {
    border: 3px solid white;
    width: 80%;
}

.text input {
    width: 99%;
    padding-bottom: 66px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.text input::placeholder {
    color: white;
}

.checkbox2 {
    height: 30px;
    width: 80%;
    display: flex;
}

.chleft {
    height: 30px;
    width: 50%;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    align-content: center;
}

.chright {
    height: 30px;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.chright button {
    height: 15px;
    width: 15px;
    margin-left: 50px;
}

.text2 {
    border: 3px solid white;
    width: 80%;
    height: 85px;
}

.text2 input {
    padding-bottom: 66px;
    width: 99%;
    background-color: transparent;
}

.text2 input::placeholder {
    color: white;
}

.checkbox3 {
    height: 30px;
    width: 80%;
    display: flex;
}

.ch3left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}
.ch3right{
    align-content: center;
}
.ch3right button{
    height: 15px;
    width: 15px;
    margin-left: 50px;
}
.text3{
    border: 3px solid white;
    width: 80%;
    height: 85px;
}
.text3 input {
    padding-bottom: 66px;
    width: 99%;
    background-color: transparent;
}

.text3 input::placeholder {
    color: white;
}


.checkbox4 {
    height: 30px;
    width: 80%;
    display: flex;
}

.ch4left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}
.ch4right{
    align-content: center;
}
.ch4right button{
    height: 15px;
    width: 15px;
    margin-left: 50px;
}
.text4{
    border: 3px solid white;
    width: 80%;
    height: 85px;
}
.text4 input {
    padding-bottom: 66px;
    width: 99%;
    background-color: transparent;
}

.text4 input::placeholder {
    color: white;
}

.checkbox5 {
    height: 30px;
    width: 80%;
    display: flex;
}

.ch5left {
    height: 28px;
    width: 50%;
    align-content: center;
    color: rgb(247, 238, 238);
    font-size: 17px;
    font-family: sans-serif;
}
.ch5right{
    align-content: center;
}
.ch5right button{
    height: 15px;
    width: 15px;
    margin-left: 50px;
}
.text5{
    border: 3px solid white;
    width: 80%;
    height: 85px;
}
.text5 input {
    padding-bottom: 66px;
    width: 99%;
    background-color: transparent;
}

.text5 input::placeholder {
    color: white;
}
.submitt{
    
}
.submitt button{
    margin-top: 44px;
    font-size: 25px;
    width: 69%;
    color: rgb(26, 23, 23);
    padding: 15px;
}
.triangle {
      width: 0%;
    height: 90;
    border-left: 120px solid transparent;
    border-right: 14px solid transparent;
    /* border-right: 50px solid transparent; */
    border-bottom: 80px solid #fff;
    float: right;
    z-index: 1;
    margin-top: -80px;
    margin-right: -35px;
}